$primaryColor: #4527a4;

.wp-block-svp-video-player {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.svpVideoPlayer {
		.svp_playlist {
			.default {
				background: #1a1a1a;

				.svp_item {
					padding: 20px;
					padding: 10px 10px;
					min-height: 60px;
					display: flex;
					flex-direction: column;
					justify-content: end;
					cursor: pointer;

					&.active {
						background: #1aaefe;
					}

					.playing,
					.next {
						color: #fff;
						margin-bottom: 5px;
						font-size: 16px;
					}
				}

				.title {
					color: #fff;
					margin-bottom: 5px;
					font-size: 20px;
					margin-top: 5px;
				}
			}
		}
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}